<h1>Login In</h1>

<% if flash[:errors] %>
    <%= flash[:errors] %>
<% end %>

<%= form_for :session, url: login_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Login" %>
<% end %>