<h1>Login</h1>

<% if flash[:errors] %>
  <div class="errors">
      <%= flash[:errors] %>
  </div>
<% end %>

<div class="centered">
  <div class="profile-card">
    <%= form_for :session, url: login_path do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Login" %>
    <% end %>
    
</div>

<%= link_to 'Create User', new_user_path, class:"back create" %>
</div>
