<div class="card-container"> 
    <div class="profile-card movie">
    <h1><%= @title %></h1>

    <%= image_tag "https://image.tmdb.org/t/p/original#{@details['poster_path']}",onerror: "this.style.display='none'"  %>
    <div class="movie_info">
        <h3>Director: <%=@director%></h3>
        <h3>Release Date: <%=@release_date%></h3>
        <h3>Genres: <%=@genres%></h3>
        <h3>IMDB Rating: <%=@rating%></h3>
        <h3>AMSee Rating: <% if @movie%>
        <%=@movie.average_rating%>
        <%else%>
            None
        <%end%>
    </h3>
    </div>
    <h3>Synopsis</h3>
    <p><%=@synopsis%></p>
    <div class="movie_info">
    <h2>Cast Members</h2>
    <% @cast[0..9].map do |ele| %>
    <div> <%= "Actor: #{ele['name']}" " - " "Character: #{ele['character']}"%></div><br>
    <%end%>
    </div>
    <% if @have_movie  %>
    <%= button_to "Review", edit_user_movie_path(@have_movie), method: :get, params: {movie:{movie_id: @have_movie.id}} %>
    <%= button_to "Create View Party", new_solo_party_path, method: :get, params: {movie:{movie_id: @have_movie.id}} %>
    <% else %>
    <%= button_to "Add to my movies", movies_path, method: :post, params: {info: @save_hash} %>
    <% end %>
</div>
</div>