<h1>Other Users</h1>
<% if flash[:success]%>
<div>
    <%= flash[:success] %>
</div>
<% end %>
<% if flash[:errors]%>
<div class="errors">
    <%= flash[:errors] %>
</div>
<% end %>
<div class="user_search">
    <%= form_tag users_path, method: :get do %>
    <%= text_field_tag(:user_find, params[:user_find]) %>
    <%= submit_tag "Search" %>
<% end %>
</div>
<div class="card-container">
    <% @users.each do |user| %>
        <div class="profile-card">
              <% if user.profile_pic.attached? %>
                <%= image_tag user.profile_pic, class:"profile-image"%>
            <%else%>
                <%= image_tag user.img, class:"profile-image"%>
            <%end%>
                <p class="name">
            <%= link_to user.name, user_path(user.id) %>
            </p>
        </div>
        <% end%>
</div>