<div class="my-profile">
    <div class="wrapper">
        <div class="box header">
            Profile Page of <%=@user.name%>
        </div>
        <div class="box sidebar">
            <% if @user.profile_pic.attached? %>
                <%= image_tag @user.profile_pic, class:"profile-image"%>
            <%else%>
                <%= image_tag @user.img, class:"profile-image"%>
            <%end%>
        <div class="box content">
            <div class="topleft">
                Age: <%=@user.age%><br>
                Location: <%=@user.location%>
            </div>
            <div class="bottomleft"> Bio: <%=@user.bio%></div>
        </div>
        </div>
        <div class="box footer">
            <h3>Followers (<%=@user.followers.count%>):</h3>  
            <%@user.followers.each do |f|%>
                <div> 
                    <%= link_to  f.name, user_path(f) %> 
                </div>
            <%end%>
            <h3>Followed (<%=@user.followeds.count%>):</h3>  
            <%@user.followeds.each do |f|%>
                <div> 
                    <%= link_to  f.name, user_path(f) %> 
                </div>
            <%end%>
        </div>
       
        <% if @current_user%>
            <% if @current_user == @user %>
                <%= button_to "Edit Profile", edit_user_path(@current_user), method: :get %>
            <% elsif User.friends?(@current_user, @user) %>
                <%= button_to "Unfollow", delete_friend_path, method: :delete, params: {friend: {follower_id: @current_user.id, followed_id: @user.id}} %>
            <% else%>
                <%= button_to "Follow", new_friend_path, params: {friend: {follower_id: @current_user.id, followed_id: @user.id}} %>
            <% end %>
        <% end %>
        <%= link_to 'Back', :back, class:"back" %>
    </div>
</div>
    <% if @user.view_parties.length > 0 %>
        <div class="result">
        <div class="section-title">VIEW PARTIES:</div>
            <div class="card-container">
                <%@user.view_parties.each do |vp|%>
                    <div class="profile-card">
                        <div class="poster"><%= image_tag vp.movie.img_url ,onerror: "this.style.display='none'"  %></div>
                    
                    <%= link_to vp.name, view_party_path(vp) %>
                        
                        
            </div>
                <% end %>
                        </div>
    <% if @user.want_to_see.length > 0%>
        <div class="section-title">Want to See:</div>
        <%= render partial: 'info', locals: {user_something: @user.want_to_see} %>
    <% end %>
    <% if @user.want_to_see.length > 0%>
        <div class="section-title">Would Watch Again:</div>
        <%= render partial: 'info', locals: {user_something: @user.watch_again} %>
    <% end %>
    <% if @user.have_seen.length > 0%>
        <div class="section-title">Have Seen:</div>
        <%= render partial: 'info', locals: {user_something: @user.have_seen} %>
    <% end %>

    <% end %>


