<div class="welcome">
    
    <h1>Welcome To</h1>
    <%= image_tag asset_url('amsee.png'), class:"logo swirl-in-bck" %>
</div>

<div class="card-container">
    <div class="profile-card intro fade-in">
        <h3>
            Welcome to AMsee.  Here you can browse movies, add them to a watch list. Find friends,
            See if they are hosting any view party events.  Find links to where you can find your favorite movies.
            Hope you enjoy your stay.  
        </h3>
    </div>
</div>
<div class="card-container" style="margin: 0 220px;  ">
    <%= link_to image_tag('streaming_services.png'), streaming_services_path%>
    <%= link_to image_tag('viewparties.png'), view_parties_path %>
    <%= link_to image_tag('toptenn.png'), top_rated_path %>
    <% if @current_user%>
    <%= link_to image_tag('watchlist.png'), friend_watch_list_path %>
    <%= link_to image_tag('friends.png'), relationships_path %>
    <%= link_to image_tag('mymovies.png'), movies_path %>

    <% end%>
</div>
