<% if flash[:errors] %>
    <div class="errors">
        <h3>You have encountered the following errors:</h3>
        <ul>
            <% flash[:errors].each do |msg|%>
                <li><%= msg.join(" ").capitalize %> </li>
            <% end %>
        </ul>
    </div>
<% end %>
    <div class="card-container">
    <div class="profile-card review">
    <%= form_for(@view_party) do |f| %>
  
    <%=f.label :name%><br>
    <%=f.text_field :name%><br>
    <%=f.label :date%><br>
    <%= datepicker_input f, :date%><br>
    <%=f.label :streaming_location%><br>
    <%=f.collection_select :streaming_location, Movie.find(flash[:movie_id]).streaming_services, :id, :name %><br>
    <%=f.hidden_field :movie_id, value: flash[:movie_id] %>
    <br>
    <%=f.submit%>
    <% end %>


    </div>
    </div>