<% if @current_user %>
    <h1>View Parties that you are part of</h1>
<% else %>
    <h1>View Parties You Could Join</h1>
    <h5>if you were a member</h4>
<% end %>
<% if @view_parties.length == 0 %>
    <div class="errors"> You don't have any parties!?!?!?!</div>
<% else %>

<div class="card-container">
<% @view_parties.each do |e|%>
    <div class="profile-card search">

        <h2><%= link_to e.name, view_party_path(e) %></h2>
    <div class="poster"> 
            <%= image_tag "#{e.movie.img_url}", size: "20x20", alt: "Missing Movie Image"%>
        </div>
    <div class="date">
            <%= e.proper_date %>
        </div>
    </div>
<%end%>
</div>
<% end %>

<% if !@friends_party.blank? %>
<div class="section-title">Friends Parties:</div>
<div class="card-container">
    <% @friends_party.each do |e|%>
     <div class="profile-card search">

    <h2><%= link_to e.name, view_party_path(e) %></h2>
   <div class="poster"> <%= image_tag "#{e.movie.img_url}", size: "20x20", alt: "Missing Movie Image"%></div>
   <div class="date"><%= e.proper_date %></div>
    </div>
    <% end%>
<% end %>
</div>
<%= link_to 'Back', :back, class:"back" %>