<h1> Welcome to the <%= @view_party.name.capitalize %> View Party </h1>
<%= link_to @view_party.movie.title, movie_detail_path(@view_party.movie.tmdb_id)%>
<% @view_party.users.each do |e|%>
<%= e.name %>
<%end%>
<%=@view_party.date%>
<%=@view_party.streaming_location%>
<%= button_to  "Join View Party", new_user_view_party_path, method: :get %>