<%= form_for(@user_movie) do |f| %>
<div><%=f.label "Rating"%></div>
<div><%=f.number_field :rating%></div><br>
<div><%=f.label "Review" %></div>
<div><%=f.text_area :review, size: "100x20"%></div>
<% end %>