<% if flash[:errors] %>
    <div class="errors">
        <h3>You have encountered the following errors:</h3>
        <ul>
            <% flash[:errors].each do |msg|%>
                <li><%= msg %> </li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= form_for @user_movie do |f| %>
<% if @user_movie %>
    <%=f.hidden_field :movie_id, value: @user_movie.movie.id %>
    <% else%>
    <%=f.hidden_field :movie_id, value: flash[:movie_id] %>
<% end%>
<%=f.hidden_field :user_id, value: @current_user.id %>
<div><%=f.label "Rating"%></div>
<div><%=f.number_field :rating%></div><br>
<div><%=f.label "Review" %></div>
<div><%=f.text_area :review, size: "100x20"%></div>
<%= f.label :would_watch %>
<%= f.check_box :would_watch %>
<%= f.label :seen_before %>
<%= f.check_box :seen_before %>
<%= f.submit "Review it!" %>
<% end %>