<!DOCTYPE html>
<html>

<head>
    <title>AMSee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav>
        <% if session[:user_id]%>
            <div><%= link_to image_tag('amsee.png'), welcome_path %></div>
            <div ><%= render "api/search" %></div>
            <div class="nav_link"><%= link_to 'See My Profile', user_path(@current_user) %></div>
            <div class="nav_link"><%= link_to "Find Friends", users_path %></div>
            <div class="nav_link"> <%= link_to  "Recently Reviewed", user_movies_path %></div>
            <div class="nav_link"><%= link_to 'Logout', logout_path, method: :delete %></div>
        <% else%>
            <div><%= link_to image_tag('amsee.png'), welcome_path %></div>
            <div><%= render "api/search" %></div>
            <div class="nav_link"><%= link_to  "Top 5 Movies Reviewed", top_rated_path %></div>
            <div class="nav_link"><%= link_to "Create User", new_user_path %></div>
            <div class="nav_link"> <%= link_to 'Login', new_login_path %></div>
        <% end %>
    </nav>
    <div class="main-container">
        <%= yield %>
    </div>
</body>

</html>